## **Sessa Empirical Estimator**  
### *By Jyreneah Angel and Nicole Grace Joligon*

## **Import Libraries**

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import gaussian_kde
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from scipy.stats import ecdf

Matplotlib is building the font cache; this may take a moment.

<class 'ModuleNotFoundError'>: No module named 'seaborn'

## **Conversion**

**Import Dataset**

In [1]:
# Load simulated data based on med.events
import pandas as pd

simulated_df = pd.read_csv("../med_events.csv")

# Display the last few rows
print(simulated_df.tail())

     PATIENT_ID        DATE  PERDAY CATEGORY  DURATION
995          45  01/03/2023       2     medA        14
996          38  05/04/2023       1     medA        14
997          11  05/02/2022       5     medD        90
998          28  11/27/2022       3     medB        90
999          13  05/19/2023       4     medB        90

**Match R function**

In [2]:
# Rename columns in the dataframe
new_columns = ["pnr", "eksd", "perday", "ATC", "dur_original"]
simulated_df = simulated_df.set_axis(new_columns, axis=1)

# Display the first few rows
simulated_df.head()

   pnr        eksd  perday   ATC  dur_original
0   10  12/24/2023       4  medE            90
1   13  01/09/2022       3  medE            30
2    7  02/22/2022       5  medE            30
3   16  06/22/2023       3  medC             7
4   33  11/03/2022       4  medC             7

**eksd string to DateTime**

In [3]:
simulated_df['eksd'] = pd.to_datetime(simulated_df['eksd'])

simulated_df.head()

   pnr       eksd  perday   ATC  dur_original
0   10 2023-12-24       4  medE            90
1   13 2022-01-09       3  medE            30
2    7 2022-02-22       5  medE            30
3   16 2023-06-22       3  medC             7
4   33 2022-11-03       4  medC             7